@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro|Dosis";
@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
body {
  margin: 0;
  scroll-behavior: smooth; }

/* HOMEPAGE
===================================================================================== */
select {
  border: none;
  background-color: transparent;
  color: white; }

div.socials {
  display: inline; }

div.search,
div.cart {
  display: inline;
  margin: auto; }

ul {
  margin-top: 0;
  display: inline; }

li {
  margin-left: auto;
  margin-right: auto;
  display: inline;
  font-family: 'Raleway'; }

li a {
  padding: 0 20px;
  font-family: 'Dosis';
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff; }

a {
  text-decoration: none; }

h2 {
  height: 37px;
  font-family: Dosis;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.5;
  letter-spacing: normal;
  text-align: center;
  color: black; }

h5 {
  margin-top: 0 !important;
  text-align: left !important; }

footer {
  background-color: black;
  color: white;
  height: 425px;
  font-family: 'Source Sans Pro';
  padding: 120px 90px 0 90px;
  color: #999999; }

h4 {
  margin-top: 0;
  color: #e5e5e5;
  text-transform: uppercase;
  margin-bottom: 60px; }

/* ABOUT PAGE 
======================================================================= */
/* Web Fonts -------------------- */
.nav-home {
  padding-top: 10px;
  margin-bottom: 130px;
  text-align: center;
  font-weight: normal;
  color: black;
  height: 60px; }

.top-section {
  width: 100%;
  height: 53px;
  background-color: #666666;
  color: #ffffff;
  display: block;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  text-transform: uppercase;
  top: 0; }

.options {
  display: inline;
  margin-right: 50px; }

.top-right,
.top-left {
  padding-top: 20px; }

.socials {
  margin-right: 20px;
  display: inline; }

.client-name-light {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  color: #e5e5e5;
  letter-spacing: 15px;
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 0; }

.footer-client-name {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  color: #e5e5e5;
  letter-spacing: 15px;
  font-size: 40px;
  margin-top: 0; }

.header {
  width: 100%;
  height: 650px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/adults-black-and-white-casual-1374542.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.search {
  margin-right: 150px;
  width: 50px;
  height: 23px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff; }

.cart {
  margin-left: 150px;
  width: 21px;
  height: 18px;
  font-size: 15px;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff; }

.heading {
  font-family: 'Source Sans Pro', sans-serif;
  height: 38px;
  font-size: 50px;
  font-weight: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.main-title {
  text-align: center;
  margin-bottom: 65px;
  height: 39px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #e6e6e6; }

.topbtn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #a88d7b;
  color: white;
  text-transform: uppercase;
  display: block;
  margin: auto;
  border: none; }

.down-arrow {
  height: 16px;
  font-family: 'Source Sans Pro';
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  animation: move 1s ease infinite; }

@keyframes move {
  0% {
    margin-top: 80px; }
  50% {
    margin-top: 100px; }
  100% {
    margin-top: 80px; } }
.content {
  height: 650px;
  padding-top: 5px;
  margin-bottom: 60px;
  background-color: #f0e9e9; }

.main-head {
  height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333; }

.line {
  display: block;
  margin: auto;
  width: 50px;
  height: 1px;
  background-color: #333333; }

.featured-product {
  display: block;
  margin-left: 100px;
  width: 1000px;
  margin-top: 50px;
  padding-bottom: 60px; }

.hoodie-jeans-crop {
  width: 370px;
  height: 360px; }

.gender {
  font-weight: normal;
  color: #a88d7b;
  text-align: center;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  line-height: 1.92;
  letter-spacing: 2.5px; }

.title {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
  height: 30px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #333333; }

.content2 {
  margin-left: 30px; }

.new-products {
  display: block;
  margin-left: 70px;
  width: 800px;
  height: 450px;
  margin-top: 70px;
  padding-bottom: 60px; }

.description {
  font-family: 'Source Sans Pro';
  font-size: 15px;
  color: #999999;
  text-align: center;
  margin-top: 0; }

.denim-main-grid {
  height: 552px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/images/vector-modern-abstract-geometry-triangle-pattern-black-white-seamless-geometric-background-subtle-pillow-bed-sheet-design-79029924.jpg); }

.denim-looks-left-grid {
  text-align: center;
  margin: auto;
  display: inline; }

.denim-looks-right-grid {
  padding-top: 10px;
  height: 300px;
  width: 400px;
  margin: auto;
  display: block; }

.denim-looks {
  font-size: 48px;
  font-family: 'Dosis';
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px; }

.denim-paragraph {
  font-family: 'Source Sans Pro';
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  margin: 0 40px 40px 40px;
  width: auto; }

.view-more {
  color: #ffffff;
  font-family: 'Source Sans Pro', serif;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  background-color: #a88d7b;
  display: block;
  margin: auto;
  border: none; }

.blog-pic,
.blog-content {
  width: 570px; }

.blog-article-grid {
  margin-left: 100px;
  margin-top: 4.375rem;
  margin-bottom: 3.75rem;
  width: 570px;
  height: 373px; }

.date {
  font-family: 'Source Sans Pro', serif;
  color: #c9c7c7;
  margin-top: 0;
  letter-spacing: 1px;
  font-size: 13px; }

.blog-title {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
  height: 30px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  letter-spacing: 1px !important;
  font-size: 15px !important; }

.blog-description {
  font-family: 'Source Sans Pro', serif;
  text-align: left;
  color: #666666;
  font-size: 14px; }

.arrow-text,
.arrow-right {
  font-family: 'Source Sans Pro', serif;
  color: #a88d7b;
  text-transform: uppercase;
  margin-bottom: 2px;
  font-size: 13px; }

.arrow-right {
  margin-left: 8px; }

.insta-pics {
  height: 120px; }

.location,
.phone,
.email {
  color: #999999;
  font-family: 'Source Sans Pro', serif;
  margin-bottom: 30px;
  letter-spacing: 2px; }

.links-on-footer a {
  text-decoration: none;
  font-family: 'Source Sans Pro', serif;
  color: #999999;
  display: block;
  margin-bottom: 30px; }

.footer-shop-section {
  padding-left: 80px; }

.shop-link-on-footer a {
  text-decoration: none;
  font-family: 'Source Sans Pro', serif;
  color: #999999;
  display: block;
  margin-bottom: 30px; }

.footer-links-section {
  padding-left: 150px; }

.copyright {
  background-color: #d7d7d7;
  color: #666666;
  height: 85px;
  font-family: 'Source Sans Pro', serif;
  padding-top: 60px;
  text-align: center; }

/* ABOUT PAGE 
======================================================================= */
.top-section2 {
  width: 100%;
  height: 53px;
  background-color: #eeeeee;
  color: #999999;
  display: block;
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  text-transform: uppercase;
  top: 0; }

.nav-default {
  background-color: #ffffff;
  height: 70px;
  padding-top: 20px;
  margin-bottom: 160px;
  text-align: center;
  font-weight: normal;
  color: black; }

a.extra-margin {
  margin-top: 10px; }

.header2 {
  width: 100%;
  height: 445px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 60px; }

.heading2 {
  font-family: 'Source Sans Pro', sans-serif;
  height: 38px;
  font-size: 50px;
  font-weight: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.title2 {
  margin-bottom: 70px;
  text-align: center;
  height: 39px;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #e6e6e6; }

.main {
  display: block; }

.who-we-are {
  width: 600px; }

p.employee {
  font-family: 'Source Sans Pro';
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 1px;
  text-align: center;
  color: #333333;
  margin: 0; }

p.expertise {
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: var(--warm-grey);
  margin-top: 0;
  margin-bottom: 50px; }

.statement,
.company {
  width: 600px; }

.main-head2 {
  margin-top: 0 !important;
  height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333; }

.details {
  text-align: left;
  color: #666666 !important;
  margin-top: 20px;
  margin-bottom: 0;
  font-family: 'Source Sans Pro';
  font-size: 15px;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: normal; }

.what-we-do {
  display: block;
  width: 900px;
  height: 600px; }

/* CONTACT FORM 
=======================================================================================
*/
.operation {
  background-color: #e6e6e6;
  display: block;
  margin: auto;
  width: 900px;
  height: 150px;
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
  padding-top: 20px; }

.form {
  margin: 120px; }

input {
  height: 40px;
  width: 570px; }

ul.dark-font {
  margin-top: 20px;
  float: right; }

.dark-font li a {
  padding: 0 20px;
  font-family: 'Dosis';
  text-decoration: none;
  text-transform: uppercase;
  color: black; }

a.client-name-dark {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 30px;
  margin-bottom: 30px;
  color: black; }

/* BLOG PAGE 
==============================================================
*/
.secondary {
  margin-bottom: 550px; }

.collections {
  display: block;
  margin: auto;
  width: 900px;
  height: 300px;
  margin-top: 70px;
  margin-bottom: 200px; }

.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "top-left top-mid top-right"; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header header" "content content content" "footer footer footer"; }

.header {
  grid-area: header; }

.main {
  grid-area: content; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.featured-product {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "white-checkered-hoodie high-waisted-jeans milano-crop-top"; }

.white-checkered-hoodie {
  grid-area: white-checkered-hoodie; }

.high-waisted-jeans {
  grid-area: high-waisted-jeans; }

.milano-crop-top {
  grid-area: milano-crop-top; }

.new-products {
  display: grid;
  width: 570px;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 373px);
  grid-template-areas: "female-yellow-shirt male-colorful-sweater"; }

.female-yellow-shirt,
.male-colorful-sweater {
  width: 570px; }

.denim-main-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "denim-looks-right-grid denim-looks-left-grid"; }

.blog-article-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 373px);
  grid-template-areas: "blog-pic blog-content"; }

footer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "footer-contact-section footer-links-section footer-shop-section footer-instagram-section"; }

.insta-pics {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 50px);
  grid-template-areas: "insta-pics1 insta-pics2 insta-pics3 insta-pics4" "insta-pics5 insta-pics6 insta-pics7 insta-pics7"; }

.copyright {
  grid-column: 1 / -1; }

/* ABOUT PAGE 
======================================================================= */
.top-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "top-left top-mid top-right"; }

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header2 header2 header2" "content2 content2 content2" "footer2 footer2 footer2"; }

.header2 {
  grid-area: header2; }

.who-we-are {
  display: grid;
  margin-left: 50px;
  margin-bottom: 80px;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 490px);
  grid-template-areas: "statement company"; }

.meet-our-team {
  display: grid;
  grid-gap: 30px;
  display: block;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr  1fr;
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "meet meet meet meet" "team team team team"; }

.team {
  display: grid;
  grid-gap: 20px;
  width: 270px;
  margin-left: 100px;
  margin-top: 70px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(1, 305px);
  grid-template-areas: "sipho nina brian gail"; }

.team {
  height: 500px; }

.employee-pics {
  width: 270px; }

.what-we-do {
  margin-left: 70px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, 490px);
  grid-template-areas: "company1 statement1"; }

.company-image,
.statement2 {
  width: 600px; }

.operation {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "address telephone hours"; }

.form {
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name surname" "phone subject" "message message"; }

.message {
  grid-column: 1 / -1; }

/* Blog section 
===========================================================
*/
.blog-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "word-blog share"; }

.collections {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "blogs1 blogs2 blogs3" "blogs4 blogs5 blogs6"; }

/*# sourceMappingURL=main.css.map */
