@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro|Dosis";
@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
  -webkit-font-smoothing: antialiased; }

/* HOMEPAGE
===================================================================================== */
select {
  border: none;
  background-color: transparent;
  color: white; }

.socials {
  display: inline; }

div.search,
div.cart {
  display: inline;
  margin: auto; }

ul {
  margin-top: 0;
  display: inline; }

li {
  margin-left: auto;
  margin-right: auto;
  display: inline;
  font-family: 'Raleway'; }

li a {
  padding: 0 1.25rem;
  font-family: 'Dosis';
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff; }

a {
  text-decoration: none; }

h1 {
  height: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin: 2.5rem 0; }

h1:after {
  background: black;
  bottom: -0.5rem;
  margin: auto;
  content: "";
  display: block;
  height: 0.0625rem;
  position: relative;
  width: 3.125rem; }

h2 {
  height: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  padding-top: 2.5rem;
  margin-bottom: 6.25rem; }

h2:after {
  background: black;
  bottom: -0.5rem;
  margin: auto;
  content: "";
  display: block;
  height: 0.0625rem;
  position: relative;
  width: 3.125rem; }

h5 {
  margin-top: 0 !important;
  text-align: left !important; }

footer {
  background-color: black;
  color: white;
  height: 20.3125rem;
  color: #999999; }

h4 {
  margin-top: 0;
  color: #e5e5e5;
  text-transform: uppercase;
  margin-bottom: 3.75rem; }

/* CONTACT PAGE 
======================================================================= */
input {
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #888888;
  height: 2.8125rem;
  width: 35.375rem; }

textarea {
  height: 9.375rem; }

/* Web Fonts -------------------- */
button {
  width: 9.6875rem;
  height: 2.5rem;
  background: #ac907f;
  border: none; }

.send-mail {
  font-family: "Source Sans Pro";
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 0.0938rem;
  text-align: center;
  text-transform: uppercase;
  color: white; }

.top-section {
  width: 100%;
  height: 3.3125rem;
  background-color: #666666;
  color: #ffffff;
  display: block;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  top: 0; }

.top-left,
.top-right,
.top-mid {
  padding-top: 0.9375rem; }

.lang,
.currency {
  display: inline;
  margin-right: 3.125rem; }

.home-socials {
  display: inline;
  padding-left: 1.25rem;
  margin-right: 1.25rem; }

.header {
  width: 100%;
  height: 40.625rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/adults-black-and-white-casual-1374542.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.nav-on-home {
  padding-top: 0.625rem;
  margin-bottom: 8.125rem;
  text-align: center;
  font-weight: normal;
  color: black;
  height: 3.75rem; }

.search {
  margin-right: 9.375rem;
  width: 3.125rem;
  height: 1.4375rem;
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.0688rem;
  text-align: left;
  color: #ffffff; }

.client-name-light {
  text-transform: uppercase;
  color: #e5e5e5;
  letter-spacing: 0.9375rem;
  font-size: 1.875rem;
  margin-bottom: 1.875rem;
  margin-top: 0; }

.cart {
  margin-left: 9.375rem;
  width: 1.3125rem;
  height: 1.125rem;
  font-size: 0.9375rem;
  letter-spacing: 0.0688rem;
  text-align: left;
  color: #ffffff; }

.heading {
  height: 2.375rem;
  font-size: 3.125rem;
  font-weight: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.heading:after {
  background: none; }

.main-title {
  text-align: center;
  margin-bottom: 4.0625rem;
  height: 2.4375rem;
  font-family: 'Source Sans Pro';
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #e6e6e6; }

.topbtn {
  width: 9.375rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  background-color: #a88d7b;
  color: white;
  text-transform: uppercase;
  display: block;
  margin: auto;
  border: none; }

.down-arrow {
  height: 1rem;
  font-size: 1.875rem;
  text-align: center;
  color: #ffffff;
  animation: move 1s ease infinite; }

@keyframes move {
  0% {
    margin-top: 5rem; }
  50% {
    margin-top: 6.25rem; }
  100% {
    margin-top: 5rem; } }
.featured-product-content {
  height: 44rem;
  background-color: #f0e9e9; }

.featured-product-clothing {
  width: 23.3125rem;
  height: 22.5rem; }

.title {
  margin-top: 1.25rem;
  margin-bottom: 0;
  text-align: center;
  height: 1.875rem;
  font-family: 'Source Sans Pro';
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #333333; }

.price {
  font-family: 'Source Sans Pro';
  font-size: 0.9375rem;
  color: #999999;
  text-align: center;
  margin-top: 0; }

.new-collection-content {
  height: 44.0625rem; }

.female-collection,
.male-collection {
  width: 35.625rem;
  height: 22.5rem; }

.gender {
  font-weight: normal;
  color: #a88d7b;
  text-align: center;
  font-family: 'Source Sans Pro';
  font-size: 0.9375rem;
  line-height: 1.92;
  letter-spacing: 0.1563rem;
  margin-top: 0.625rem; }

.denim-collection-content {
  height: 34.5rem;
  background-image: url(/images/adult-blur-depth-of-field-1649067.jpg);
  background-attachment: fixed; }

.denim-looks-left-grid {
  text-align: center;
  margin: auto;
  display: inline; }

.denim-looks {
  font-size: 3rem;
  font-family: 'Dosis';
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1.875rem; }

.denim-paragraph {
  font-size: 0.9375rem;
  line-height: 1.6;
  letter-spacing: 0.0625rem;
  text-align: center;
  color: #ffffff;
  margin: 0 2.5rem 2.5rem 2.5rem;
  width: auto; }

.view-more {
  color: #ffffff;
  text-transform: uppercase;
  width: 9.375rem;
  height: 2.5rem;
  background-color: #a88d7b;
  display: block;
  margin: auto;
  border: none; }

.denim-looks-right-grid {
  padding-top: 0.625rem;
  height: 18.75rem;
  width: 25rem;
  margin: auto;
  display: block; }

.blog-article-content {
  height: 41.9375rem; }

.blog-pic,
.blog-content {
  width: 35.625rem; }

.blog-title {
  margin-top: 1.25rem;
  margin-bottom: 0;
  text-align: center;
  height: 1.875rem;
  font-family: 'Source Sans Pro';
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  letter-spacing: 0.0625rem !important;
  font-size: 0.9375rem !important; }

.date {
  color: #999999;
  margin-top: 0;
  letter-spacing: 0.0625rem;
  font-size: 0.8125rem;
  padding-bottom: 0.9375rem; }

.blog-description {
  padding: 1.25rem 0;
  text-align: left;
  color: #666666;
  font-size: 0.9375rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal; }

.arrow-text,
.arrow-right {
  color: #a88d7b;
  text-transform: uppercase;
  margin-bottom: 0.125rem;
  font-size: 0.8125rem; }

.arrow-right {
  margin-left: 0.5rem; }

.footer-grid {
  padding-top: 2.5rem; }

.footer-client-name {
  text-transform: uppercase;
  color: #e5e5e5;
  letter-spacing: 0.9375rem;
  font-size: 2.5rem;
  margin-bottom: 2.375rem; }

.location,
.phone,
.email {
  color: #999999;
  margin-bottom: 1.875rem;
  letter-spacing: 0.125rem; }

.links-on-footer a {
  text-decoration: none;
  color: #999999;
  display: block;
  margin-bottom: 1.875rem; }

.shop-link-on-footer a {
  text-decoration: none;
  color: #999999;
  display: block;
  margin-bottom: 1.875rem; }

.insta-pics {
  height: 7.5rem; }

.copyright {
  background-color: #d7d7d7;
  color: #666666;
  padding-top: 1.875rem;
  height: 3.4375rem;
  text-align: center; }

.socials {
  margin-right: 1.25rem; }

.content2 {
  margin-left: 1.875rem; }

.description {
  font-family: 'Source Sans Pro';
  font-size: 0.9375rem;
  color: #999999;
  text-align: center;
  margin-top: 0;
  text-align: left; }

.blog-date {
  color: #999999;
  margin-top: 0;
  letter-spacing: 0.0625rem;
  font-size: 0.8125rem;
  border-bottom: 0.0625rem solid #999999;
  padding-bottom: 0.9375rem; }

/* ABOUT PAGE 
======================================================================= */
.top-section2 {
  width: 100%;
  height: 3.3125rem;
  background-color: #eeeeee;
  color: #999999;
  display: block;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  top: 0; }

.secondary-socials {
  display: inline; }

.nav-default {
  background-color: #ffffff;
  height: 4.375rem;
  padding-top: 1.25rem;
  margin-bottom: 10rem;
  text-align: center;
  font-weight: normal;
  color: black; }

a.extra-margin {
  margin-top: 0.625rem; }

.header2 {
  width: 100%;
  height: 27.8125rem;
  background-color: rgba(0, 0, 0, 0.5); }

.heading2 {
  height: 2.375rem;
  font-size: 3.125rem;
  font-weight: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.heading2:after {
  background: none; }

.title2 {
  margin-bottom: 4.375rem;
  text-align: center;
  height: 2.4375rem;
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #e6e6e6; }

.main {
  display: block; }

.who-we-are-section {
  height: 31.75rem;
  padding-top: 3.125rem; }

.who-we-are {
  width: 37.5rem;
  height: 30.625rem; }

.team-heading {
  height: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin-top: 0 !important;
  padding-top: 4.375rem; }

p.employee {
  font-size: 1.25rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: 0.0625rem;
  text-align: center;
  color: #333333;
  margin: 0; }

p.expertise {
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: normal;
  text-align: center;
  color: var(--warm-grey);
  margin-top: 0;
  color: #999999; }

.connect {
  text-align: center;
  letter-spacing: 0.4375rem;
  color: #555555;
  font-size: 0.9375rem;
  margin-top: 0.9375rem; }

.statement,
.company {
  width: 37.5rem; }

.main-head2 {
  margin-top: 0 !important;
  height: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333; }

.details {
  text-align: left;
  color: #666666 !important;
  padding-top: 1.25rem;
  margin-bottom: 0;
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: normal; }

.what-we-do-section {
  height: 33.75rem;
  padding-top: 3.125rem; }

/* CONTACT FORM 
=======================================================================================
*/
.operation {
  background-color: #e6e6e6;
  display: block;
  margin: auto;
  height: 12.5rem;
  margin-top: 4.375rem;
  margin-bottom: 4.375rem;
  text-align: center; }

.address,
.telephone,
.chat,
.hours {
  display: block;
  margin: auto; }

#icons {
  width: 1.375rem;
  height: 2.3125rem;
  font-size: 2.25rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.58;
  letter-spacing: normal;
  text-align: center;
  color: #090803; }

.op-title {
  height: 1.125rem;
  font-size: 1.5625rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 0.0813rem;
  text-align: center;
  color: #333333; }

.op-details {
  padding-top: 1.875rem;
  height: 1rem;
  font-size: 1.125rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: center;
  color: #666666; }

.telephone,
.chat {
  height: 1.3125rem;
  font-size: 1.125rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  text-align: left;
  color: #666666; }

.form {
  display: block;
  margin: auto;
  width: 73.125rem;
  margin-bottom: 5rem; }

ul.dark-font {
  margin-top: 1.25rem;
  float: right; }

.dark-font li a {
  font-weight: 600;
  padding: 0 1.25rem;
  font-family: 'Dosis';
  text-decoration: none;
  text-transform: uppercase;
  height: 0.75rem;
  font-size: 1rem;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.05rem;
  text-align: left;
  color: #666666; }

a.client-name-dark {
  line-height: 2.1;
  text-transform: uppercase;
  letter-spacing: 0.9375rem;
  font-size: 1.875rem;
  margin-bottom: 1.875rem;
  color: black; }

/* BLOG PAGE 
==============================================================
*/
.blog-grid {
  border-bottom: 0.0625rem black solid;
  width: 49.9375rem;
  display: block;
  margin: auto;
  height: 2.5rem; }

.word-blog,
.share,
.share-icons {
  margin: auto;
  display: inline;
  height: 0.9375rem;
  font-size: 0.9375rem;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #666666; }

.word-blog {
  text-align: left; }

.share {
  text-align: right;
  margin-right: 0 !important; }

.pad-right {
  margin-right: 0 !important;
  margin-top: 0 !important; }

.share-icons {
  margin: 0 auto;
  text-align: right; }

.blogs1,
.blogs2 {
  width: 23.125rem; }

.blogs2 {
  margin-top: 3.125rem; }

.secondary {
  margin-bottom: 9.375rem; }

.collections {
  display: block;
  margin: auto;
  margin-top: 4.375rem; }

.blog-article-title {
  margin-top: 1.25rem;
  margin-bottom: 0;
  text-align: center;
  height: 1.875rem;
  font-family: 'Source Sans Pro';
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  text-align: left; }

.blog-image {
  height: 14.0625rem; }

.read-more {
  width: 4.1875rem;
  height: 0.6875rem;
  font-size: 0.9375rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #706259; }

.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

img {
  width: 100%;
  height: 100%; }

.featured-product {
  display: grid;
  width: 71.875rem;
  margin: auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr); }

.new-collection {
  display: grid;
  grid-gap: 0.625rem;
  width: 71.875rem;
  margin-top: 4.375rem;
  margin: auto;
  grid-template-columns: repeat(2, 1fr); }

.denim-collection-content {
  display: grid;
  grid-gap: 1.25rem;
  grid-template-columns: repeat(2, 1fr); }

.blog-article {
  display: grid;
  grid-gap: 1.25rem;
  width: 72.5rem;
  margin: auto;
  grid-template-columns: repeat(2, 1fr); }

.footer-grid {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-gap: 5%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "section-1 section-2"; }

.footer-right {
  grid-area: section-2;
  place-content: top end;
  display: grid;
  grid-gap: 2em;
  grid-template-areas: "footer-links-section footer-shop-section footer-instagram-section"; }

.insta-pics {
  display: grid;
  grid-gap: 0.3125rem;
  grid-template-columns: repeat(4, 3.125rem);
  grid-template-areas: "insta-pics1 insta-pics2 insta-pics3 insta-pics4" "insta-pics5 insta-pics6 insta-pics7 insta-pics7"; }

.copyright {
  grid-column: 1 / -1; }

/* ABOUT PAGE 
======================================================================= */
.top-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "top-left top-mid top-right"; }

.who-we-are {
  display: grid;
  grid-gap: 1.25rem;
  width: 76.25rem;
  margin: auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr); }

.header2 {
  grid-area: header2; }

.meet-our-team-section {
  height: 39.1875rem; }

.team {
  display: grid;
  grid-gap: 1.25rem;
  width: 71.4375rem;
  margin: auto;
  margin-top: 4.375rem;
  grid-template-columns: repeat(4, 1fr); }

.team {
  height: 19.0625rem; }

.employee-pics {
  width: 16.875rem;
  height: 19.0625rem; }

.what-we-do {
  display: grid;
  margin: auto;
  grid-gap: 1.25rem;
  grid-template-columns: repeat(2, 1fr);
  width: 76.25rem; }

.company-image,
.statement2 {
  width: 37.5rem;
  height: 30.625rem; }

.operation {
  display: grid;
  width: 73.125rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(1, auto); }

.address,
.hours {
  grid-row: span 2; }

.telephone {
  grid-column: 2;
  grid-row: 1; }

.chat {
  grid-column: 2;
  grid-row: 2; }

.form {
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 1.875rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name surname" "phone subject" "message message"; }

.message {
  grid-column: 1 / -1; }

/* Blog section 
===========================================================
*/
.blog-grid {
  display: grid;
  padding-top: 1.25rem;
  grid-gap: 1.25rem;
  grid-template-columns: 1fr 1fr; }

.pad-right {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.0625rem; }

.word-blog,
.share {
  margin: auto;
  display: inline;
  text-align: left; }

.collections {
  display: grid;
  width: 71.875rem;
  height: 58rem;
  grid-gap: 1.25rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "blogs1 blogs1 blogs1" "blogs2 blogs2 blogs2"; }

/*# sourceMappingURL=main.css.map */
