@import "https://fonts.googleapis.com/css?family=Montserrat:700|Noto+Sans+SC|Roboto:400,500,700|Pacifico|Gamja+Flower|Raleway:500|Oswald|Lobster|Dancing+Script|IBM+Plex+Serif:400i|IBM+Plex+Sans+Condensed:400i|IBM+Plex+Serif:400i";
@import "https://use.fontawesome.com/releases/v5.7.0/css/all.css";
body {
  margin: 0; }

ul {
  margin-top: 0; }

h2 {
  height: 37px;
  font-family: Dosis;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

/* Web Fonts -------------------- */
.BG {
  width: 100%;
  height: 53px;
  background-color: #2d2827; }

.header {
  width: 100%;
  height: 600px;
  background-color: #666666; }

.search {
  width: 22px;
  height: 23px;
  font-family: Linearicons-Free;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff; }

.home {
  width: 36px;
  height: 11px;
  font-family: Dosis;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff; }

.cart {
  width: 21px;
  height: 18px;
  font-family: FontAwesome;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff; }

.heading {
  height: 38px;
  font-family: Dosis;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.title {
  text-align: center;
  height: 39px;
  font-family: SourceSansPro;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #e6e6e6; }

.topbtn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #a88d7b;
  display: block;
  margin: auto; }

.down-arrow {
  width: 29px;
  height: 16px;
  font-family: Linearicons-Free;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.content {
  padding-top: 5px;
  background-color: #f0e9e9; }

.feature,
.collection {
  height: 24px;
  font-family: SourceSansPro;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333; }

.line {
  display: block;
  margin: auto;
  width: 50px;
  height: 1px;
  background-color: #333333; }

.products {
  display: block;
  margin: auto;
  width: 800px;
  height: 200px;
  margin-top: 70px;
  padding-bottom: 60px; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.new-products {
  display: block;
  margin: auto;
  width: 800px;
  height: 250px;
  margin-top: 70px;
  padding-bottom: 60px; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header header" "content content content" "footer footer footer"; }

.header {
  grid-area: header; }

.main {
  grid-area: content; }

.products {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "product1 product2 product3"; }

.product1 {
  grid-area: product1; }

.product2 {
  grid-area: product2; }

.product3 {
  grid-area: product3; }

.new-products {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "new-product1 new-product2"; }

.new-product1 {
  grid-area: new-product1; }

.new-product2 {
  grid-area: new-product2; }

/*# sourceMappingURL=main.css.map */
