* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    -webkit-font-smoothing: antialiased;
}

/* HOMEPAGE
===================================================================================== */
select {
    border: none;
    background-color: transparent;
    color: white
}

div.socials {
    display: inline;
}

div.search,
div.cart {
    display: inline;
    margin: auto;
}

ul {
    margin-top: 0;
    display: inline;
    
    }
  
    li {
    margin-left: auto;
    margin-right: auto;
    display: inline;
    font-family: 'Raleway';
}



li a {
    padding: 0 20px;
    font-family: 'Dosis';
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

a {
    text-decoration: none;
}
h1 {
    @include main-headings;
    margin: 40px 0;
}

h1:after {
    background: black;
    bottom: -8px;
    margin: auto;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 50px;
}

h2 {
    @include main-headings;
    text-transform: uppercase;
    padding-top: 40px;
    margin-bottom: 100px;

}

h2:after {
    background: black;
    bottom: -8px;
    margin: auto;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 50px;
}

h5 {
    margin-top: 0 !important;
    text-align: left !important;
}

footer {
    background-color: black;
    color: white;
    height: 325px;
    font-family: 'Source Sans Pro';
    color: #999999;

}

h4 {
    margin-top: 0;
    color: #e5e5e5;
    text-transform: uppercase;
    margin-bottom: 60px;
}


/* CONTACT PAGE 
======================================================================= */ 


input {
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #888888;
    height: 45px;
    width: 566px;
}


textarea {
    height: 150px;
}