* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    -webkit-font-smoothing: antialiased;
}

/* HOMEPAGE
===================================================================================== */
select {
    border: none;
    background-color: transparent;
    color: $color-text-light
}

.socials {
    display: inline;
}

div.search,
div.cart {
    display: inline;
    margin: auto;
}

ul {
    margin-top: 0;
    display: inline;
    
    }
  
    li {
    margin-left: auto;
    margin-right: auto;
    display: inline;
    font-family: 'Raleway';
}



li a {
    padding: 0 1.25rem;
    font-family: 'Dosis';
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

a {
    text-decoration: none;
}
h1 {
    @include main-headings;
    margin: 2.5rem 0;
}

h1:after {
    background: $color-text-dark;
    bottom: -0.5rem;
    margin: auto;
    content: "";
    display: block;
    height: 0.0625rem;
    position: relative;
    width: 3.125rem;
}

h2 {
    @include main-headings;
    text-transform: uppercase;
    padding-top: 2.5rem;
    margin-bottom: 6.25rem;

}

h2:after {
    background: $color-text-dark;
    bottom: -0.5rem;
    margin: auto;
    content: "";
    display: block;
    height: 0.0625rem;
    position: relative;
    width: 3.125rem;
}

h5 {
    margin-top: 0 !important;
    text-align: left !important;
}

footer {
    background-color: $color-text-dark;
    color: $color-text-light;
    height: 20.3125rem;
    color: #999999;

}

h4 {
    margin-top: 0;
    color: #e5e5e5;
    text-transform: uppercase;
    margin-bottom: 3.75rem;
}


/* CONTACT PAGE 
======================================================================= */ 


input {
    font-size: 0.9375rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #888888;
    height: 2.8125rem;
    width: 35.375rem;
}


textarea {
    height: 9.375rem;
}