body {
    margin: 0;
}

select {
    border: none;
    background-color: transparent;
    color: white
}

div.socials {
    display: inline;
}


nav {
    margin-top: 20px;
    margin-bottom: 200px;
    text-align: center;
    font-weight: normal;
}

div.search,
div.cart {
    display: inline;
    margin: auto;
}

ul {
    margin-top: 0;
    display: inline;
    
    }
  
    li {
    margin-left: auto;
    margin-right: auto;
    display: inline;
    font-family: 'Raleway';
}



li a {
    padding: 0 20px;
    font-family: 'Dosis';
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

h2 {
    height: 37px;
    font-family: Dosis;
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: normal;
    text-align: center;
    color: black;
}

h4 {
    margin-top: 0;
}

footer {
    background-color: black;
    color: white;
    height: 200px
}