/* Web Fonts -------------------- */

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro|Dosis';

@import 'https://use.fontawesome.com/releases/v5.7.0/css/all.css';


// Send Mail Button on Contact Page
button {
    width: 9.6875rem;
    height: 2.5rem;
    background: #ac907f;
    border: none;
    outline: none;
} a {
    text-decoration: none;
}


.send-mail {
    font-size: 0.9375rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.0938rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-text-light;
}

.add-to-cart {
    width: 11.25rem;
    height: 2.75rem;
    margin-top: 1.875rem;
    text-transform: uppercase;
    font-size: 0.9375rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 0.0938rem;
    text-align: center;
    text-transform: uppercase;
    color: $color-text-light;
}

.add-to-cart:hover {
    color: #ac907f;
    background-color: $color-text-light;
    border: #ac907f 2px solid;
    transition: .2s ease-out;
}

.remove-cart {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    background-color: red;
    width: 100px;
    border-radius: 5px;
    margin-top: 30px;
}

.remove-cart:hover {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: red;
    background-color: white;
    border: red 2px solid;
    width: 100px;
    border-radius: 5px;
    margin-top: 30px;
}