// Section above nav
.top-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "top-left top-mid top-right"
}

img {
    width: 100%;
    height: 100%;
    
}
.featured-product {
    display: grid;
    width: 71.875rem;
    margin: auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.new-collection {
    display: grid;
    grid-gap: 10px;
    width: 71.875rem;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
}

.denim-collection-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.blog-article {
    display: grid;
    grid-gap: 20px;
    width: 72.5rem;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
}

.footer-grid {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-gap: 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "section-1 section-2"
}


.footer-right {
    grid-area: section-2;
    place-content: top end;
    display: grid;
    grid-gap: 2em;
    grid-template-areas: 
        "footer-links-section footer-shop-section footer-instagram-section";
}

.insta-pics {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 50px);
    grid-template-areas: 
    "insta-pics1 insta-pics2 insta-pics3 insta-pics4"
    "insta-pics5 insta-pics6 insta-pics7 insta-pics7"
}

.copyright {
    grid-column: 1 / -1;
}

/* ABOUT PAGE 
======================================================================= */ 

.top-section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "top-left top-mid top-right"
}

.who-we-are {
    display: grid;
    grid-gap: 20px;
    width: 1220px;
    margin: auto;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}


.header2 {
    grid-area: header2;
}

.meet-our-team-section {
    height: 627px;
}
.team {
    display: grid;
    grid-gap: 20px;
    width: 1143px;
    margin: auto;
    margin-top: 70px;
    grid-template-columns: repeat(4, 1fr);
    
}

.team {
    height: 305px;
}

.employee-pics {
    width: 270px;
}

.what-we-do {
    display: grid;
    margin: auto;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    width: 1220px;
}

.company-image, 
.statement2 {
    width: 600px;
    height: 490px;
}

.operation {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 
    "address telephone hours"
}



.form {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "name surname"
    "phone subject"
    "message message"
}


.message {
    grid-column: 1 / -1;
}


/* Blog section 
===========================================================
*/

.blog-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "word-blog share"
}

.collections {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "blogs1 blogs2 blogs3"
    "blogs4 blogs5 blogs6"
}