.top-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "top-left top-mid top-right"
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "header header header"
        "content content content"
        "footer footer footer"
}

.header{
    grid-area: header;

}

.main {
    grid-area: content;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 300px);
    grid-template-areas: 
    "product1 product2 product3"
}

.product1 {
    grid-area: product1;
}

.product2 {
    grid-area: product2;
}

.product3 {
    grid-area: product3;
}


.new-products {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    
    grid-template-rows: repeat(2, 400px);
    grid-template-areas: 
    "new-product1 new-product2"
}

.new-product1 {
    grid-area: new-product1;
}

.new-product2 {
    grid-area: new-product2;
}


.content3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "left-text right-text"
}

.blog-article {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "blog-pic blog-content"
}

footer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "footer-contact-section footer-links-section footer-shop-section footer-instagram-section"
}

.insta-pics {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 50px);
    grid-template-areas: 
    "insta-pics1 insta-pics2 insta-pics3 insta-pics4"
    "insta-pics5 insta-pics6 insta-pics7 insta-pics7"
}


/* ABOUT PAGE 
======================================================================= */ 

.top-section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "top-left top-mid top-right"
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "header2 header2 header2"
        "content2 content2 content2"
        "footer2 footer2 footer2"
}


.header2 {
    grid-area: header2;

}

.who-we-are {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 385px);
    grid-template-areas: 
    "statement company"
}

.meet-our-team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 
    "meet team"
}

.meet {
    grid-area: meet;
    grid-column: 1 / -1;
}

.team {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas:
    "sipho nina brian gail"
}

.team {
    grid-area: team;
    grid-column: 1 / -1;
}

.what-we-do {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 385px);
    grid-template-areas: 
    "company1 statement1"
}

.operation {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 
    "address telephone hours"
}



.form {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "name surname"
    "phone subject"
    "message message"
}


.message {
    grid-column: 1 / -1;
}


/* Blog section 
===========================================================
*/

.blog-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "word-blog share"
}

.collections {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "blogs1 blogs2 blogs3"
    "blogs4 blogs5 blogs6"
}