// Section abouve nav
.top-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "top-left top-mid top-right"
}

// All content is wrapped in the container
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "header header header"
        "content content content"
        "footer footer footer"
}

// Top section and nav is in the header
.header{
    grid-area: header;

}

.main {
    grid-area: content;
}

img {
    width: 100%;
    height: 100%;
}


// Featured products grid
.featured-product {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 360px);
    grid-template-areas: 
    "white-checkered-hoodie high-waisted-jeans milano-crop-top"
}

.white-checkered-hoodie {
    grid-area: white-checkered-hoodie;
}

.high-waisted-jeans {
    grid-area: high-waisted-jeans;
}

.milano-crop-top {
    grid-area: milano-crop-top;
}


.new-products {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    
    grid-template-rows: repeat(1, 373px);
    grid-template-areas: 
    "female-yellow-shirt male-colorful-shirt"
}

.female-yellow-shirtt1 {
    grid-area: female-yellow-shirtt1;
}

.male-colorful-shirt {
    grid-area: male-colorful-shirt;
}


.denim-main-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "denim-looks-right-grid denim-looks-left-grid"
}

.blog-article {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "blog-pic blog-content"
}

footer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "footer-contact-section footer-links-section footer-shop-section footer-instagram-section"
}

.insta-pics {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 50px);
    grid-template-areas: 
    "insta-pics1 insta-pics2 insta-pics3 insta-pics4"
    "insta-pics5 insta-pics6 insta-pics7 insta-pics7"
}


/* ABOUT PAGE 
======================================================================= */ 

.top-section2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "top-left top-mid top-right"
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "header2 header2 header2"
        "content2 content2 content2"
        "footer2 footer2 footer2"
}


.header2 {
    grid-area: header2;

}

.who-we-are {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 385px);
    grid-template-areas: 
    "statement company"
}

.meet-our-team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 
    "meet team"
}

.meet {
    grid-area: meet;
    grid-column: 1 / -1;
}

.team {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas:
    "sipho nina brian gail"
}

.team {
    grid-area: team;
    grid-column: 1 / -1;
}

.what-we-do {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1, 385px);
    grid-template-areas: 
    "company1 statement1"
}

.operation {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 
    "address telephone hours"
}



.form {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "name surname"
    "phone subject"
    "message message"
}


.message {
    grid-column: 1 / -1;
}


/* Blog section 
===========================================================
*/

.blog-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "word-blog share"
}

.collections {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "blogs1 blogs2 blogs3"
    "blogs4 blogs5 blogs6"
}