@mixin main-headings {
    height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}

@mixin main-title {
    text-align: center;
    margin-bottom: 65px;
    height: 39px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #e6e6e6;
}

@mixin gender {
    font-weight: normal;
    color: #a88d7b;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    line-height: 1.92;
    letter-spacing: 2.5px;
}

@mixin title {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    height: 30px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}

@mixin description {
    font-family: 'Source Sans Pro';
    font-size: 15px;
    color: #999999;
    text-align: center;
    margin-top: 0
}