// INDEX PAGE

// Top section (language, shipping & socials)
.top-section {
    width: 100%;
    height: 3.3125rem;
    background-color: #666666;
    color: $color-text-light;
    display: block;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    top:0;
}

// Left = language & currency; mid = shipping; right = social icons
.top-left,
.top-right,
.top-mid {
    padding-top: 0.9375rem;
}

// Language and Currency 
.lang,
.currency {
    display: inline;
    margin-right: 3.125rem
}

// Social network icons top-right above navbar
.home-socials {
    display: inline;
    padding-left: 1.25rem;
    margin-right: 1.25rem;
}

// Styling of main image
.header {
    width: 100%;
    height: 40.625rem;    
    background-image: linear-gradient($color-shadow, $color-shadow), url(../images/adults-black-and-white-casual-1374542.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

// Navbar applicable to homepage only
.nav-on-home {
    padding-top: 0.625rem;
    margin-bottom: 8.125rem;
    text-align: center;
    font-weight: normal;
    color: $color-text-dark;
    height: 3.75rem;
}

// Search icon on navbar
.search-default {
    margin-right: 9.375rem;
    width: 3.125rem;
    height: 1.4375rem;
    font-size: 0.9375rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.0688rem;
    text-align: left;
    color: $color-text-light;
}

// NATEB on navbar
.client-name-light {
    text-transform: uppercase;
    color: #e5e5e5;
    letter-spacing: 0.9375rem;
    font-size: 1.875rem;
    margin-bottom: 1.875rem;
    margin-top: 0;
} 

// Cart icon on navbar
.cart-default {
    margin-left: 9.375rem;
    width: 1.3125rem;
    height: 1.125rem;
    font-size: 0.9375rem;
    letter-spacing: 0.0688rem;
    text-align: left;
    color: $color-text-light;
}

// Fresh Take on 90s heading
.heading {
    height: 2.375rem;
    font-size: 3.125rem;
    font-weight: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
    color: $color-text-light;
}

// Remove default underline on heading
.heading:after {
    background: none;
}

// Description of heading
.main-title {
    @include main-title
}

// Look Book button
.topbtn {
    width: 9.375rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color: #a88d7b;
    margin: auto;
    display: block;
    border: none;
}

a.topbtn:hover {
    padding-left: 10px;
}

// Look Book text
.look-book-btn {
    color: $color-text-light;
    text-transform: uppercase;
    
}

// Arrow under look book btn
.down-arrow {
    height: 1rem;
    font-size: 1.875rem;
    text-align: center;
    color: $color-text-light;
    animation: move 1s ease infinite;
}

// Animation of down arrow
@keyframes move {
    0% {margin-top: 5rem;}
    50% {margin-top: 6.25rem;}
    100% {margin-top: 5rem;}
}

// Featured Product container
.featured-product-content {
    height: 44rem;
    background-color: rgb(240, 233, 233);
}

// Clothing on feautured product
.featured-product-clothing {
    width: 23.3125rem;
    height: 22.5rem;
    position: relative;
    overflow: hidden;
}

.featured-product-clothing img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

featured-product-clothing:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

// Name of feautrued products
.title {
    @include title;
}

// Price of producct
.price {
    @include description;
}

// New Collection container
.new-collection-content {
    height: 44.0625rem;
}

// Female and Male Collection
.female-collection,
.male-collection {
    width: 35.625rem;
    height: 22.5rem;
}

// Woman and Male tag
.gender {
    @include gender;
}

// Denim Collection container
.denim-collection-content {
    height: 34.5rem;
    background-image: url(/images/seamless-background-80s14-.jpg);
    background-attachment: fixed;
}

// Left sectiton of denim collection
.denim-looks-left-grid {
    text-align: center;
    margin: auto;
    display: inline;
}

// Heading of denim collection
.denim-looks {
    font-size: 3rem;
    font-family: 'Dosis';
    font-stretch: normal;
    text-align: center;
    color: $color-text-light;
    margin-bottom: 1.875rem;
}

// Description of denim collection heading
.denim-paragraph {
    font-size: 0.9375rem;
    line-height: 1.6;
    letter-spacing: 0.0625rem;
    text-align: center;
    color: $color-text-light;
    margin: 0 2.5rem 2.5rem 2.5rem;
    width: auto
}

// View More button
.view-more {
    color: $color-text-light;
    text-transform: uppercase;
    width: 9.375rem;
    height: 2.5rem;
    background-color: #a88d7b;
    display: block;
    margin: auto;
    border: none;
} 

// Right section of denim collection
.denim-looks-right-grid {
    padding-top: 0.625rem;
    height: 18.75rem;
    width: 25rem;
    margin: auto;
    display: block;
}

// Blog Article container
.blog-article-content {
    height: 41.9375rem;
}

.blog-pic,
.blog-content {
    width: 35.625rem;
}

// Title of moon bag article
.blog-title {
    @include title;
    letter-spacing: 0.0625rem !important;
    font-size: 0.9375rem !important;
}


// Moon Bag article date
.date {
    color: #999999;
    margin-top: 0;
    letter-spacing: 0.0625rem;
    font-size: 0.8125rem;
    padding-bottom: 0.9375rem;
}

// Blog Description on home and blog page
.blog-description {
    padding: 1.25rem 0;
    text-align: left;
    color: #666666;
    font-size: 0.9375rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
}

// Read More and right arrow
.arrow-text,
.arrow-right {
    color: #a88d7b;
    text-transform: uppercase;
    margin-bottom: 0.125rem;
    font-size: 0.8125rem;
}

.arrow-right {
    margin-left: 0.5rem;
}

// Footer section

.footer-grid {
    padding-top: 2.5rem;
}

// NATEB on footer
.footer-client-name {
    text-transform: uppercase;
    color: #e5e5e5;
    letter-spacing: 0.9375rem;
    font-size: 2.5rem;
    margin-bottom: 2.375rem;
}

// Location, phone and email grid
.location, 
.phone,
.email {
    color: #999999;
    margin-bottom: 1.875rem;
    letter-spacing: 0.125rem;
}

// A-tag links
.links-on-footer a {
    text-decoration: none;
    color: #999999;
    display: block;
    margin-bottom: 1.875rem;
}

// Shop section on footer
.shop-link-on-footer a {
    text-decoration: none;
    color: #999999;
    display: block;
    margin-bottom: 1.875rem;
}

// Instagram pics
.insta-pics {
    height: 7.5rem;
}

// Copright section
.copyright {
    background-color: #d7d7d7;
    color: #666666;
    padding-top: 1.875rem;
    height: 3.4375rem;
    text-align: center;
}







.socials {
    margin-right: 1.25rem;

}




.content2 {
    margin-left: 1.875rem;
}





.description {
    @include description;
    text-align: left;
}










.blog-date {
    color: #999999;
    margin-top: 0;
    letter-spacing: 0.0625rem;
    font-size: 0.8125rem;
    border-bottom: 0.0625rem solid #999999;
    padding-bottom: 0.9375rem;
}













/* ABOUT PAGE 
======================================================================= */ 
.top-section2 {
    width: 100%;
    height: 3.3125rem;
    background-color: #eeeeee;
    color: #999999;
    display: block;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    top:0;
}

.secondary-socials {
    display: inline;
}

.nav-default {
    background-color: $color-text-light;
    height: 4.375rem;
    padding-top: 1.25rem;
    margin-bottom: 10rem;
    text-align: center;
    font-weight: normal;
    color: $color-text-dark;
}

a.extra-margin {
    margin-top: 0.625rem;
}

.header2 {
    width: 100%;
    height: 27.8125rem;    
    background-image: url(/images/seamless-pattern-in-cartoon-80s-90s-comic-style-vector-15514773.jpg);
    background-attachment: fixed;
}

.heading2 {
    height: 2.375rem;
    font-size: 3.125rem;
    font-weight: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
    color: $color-text-light;
}

.heading2:after {
    background: none;
}

.title2 {
    margin-bottom: 4.375rem;
    text-align: center;
    height: 2.4375rem;
    font-size: 0.9375rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #e6e6e6;
}

.main {
    display: block;
}

.who-we-are-section {
    height: 31.75rem;
    padding-top: 3.125rem;
}

.who-we-are {
    width: 37.5rem;
    height: 30.625rem;
}

.team-heading {
    @include main-headings;
    margin-top: 0 !important;
    padding-top: 4.375rem;
}

p.employee {
    font-size: 1.25rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: 0.0625rem;
    text-align: center;
    color: #333333;
    margin: 0;
}



p.expertise {
    font-size: 0.9375rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: var(--warm-grey);
    margin-top: 0;
    color: #999999;
}

.connect {
    text-align: center;
    letter-spacing: 0.4375rem;
    color: #555555;
    font-size: 0.9375rem;
    margin-top: 0.9375rem;
}

.statement,
.company {
    width: 37.5rem;
}

.main-head2 {
    margin-top: 0 !important;
    @include main-headings
}

.details {
    text-align: left; 
    color: #666666 !important;
    padding-top: 1.25rem;
    margin-bottom: 0;
    font-size: 0.9375rem;
    font-weight: bold;
    line-height: 1.67;
    letter-spacing: normal;
  }


.what-we-do-section {
    height: 33.75rem;
    padding-top: 3.125rem;
}


/* CONTACT FORM 
=======================================================================================
*/

.search {
    margin-left: 30px;
    width: 3.125rem;
    height: 1.4375rem;
    font-size: 0.9375rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.0688rem;
    text-align: left;
    color: #666666;
}

.cart {
    margin-left: 50px;
    width: 1.3125rem;
    height: 1.125rem;
    font-size: 0.9375rem;
    letter-spacing: 0.0688rem;
    text-align: left;
    color: #666666;
}

.operation {
    background-color: #e6e6e6;
    display: block;
    margin: auto;
    height: 12.5rem;
    margin-top: 4.375rem;
    margin-bottom: 4.375rem;
    text-align: center;
}

.address,
.telephone,
.chat,
.hours {
    display: block;
    margin: auto;
}

#icons {
    width: 1.375rem;
    height: 2.3125rem;
    font-size: 2.25rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.58;
    letter-spacing: normal;
    text-align: center;
    color: #090803;
}

.op-title {
    height: 1.125rem;
    font-size: 1.5625rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.0813rem;
    text-align: center;
    color: #333333;
}

.op-details {
    padding-top: 1.875rem;
    height: 1rem;
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
}

.telephone,
.chat {
    height: 1.3125rem;
    font-size: 1.125rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}



.form {
    display: block;
    margin: auto;
    width: 73.125rem;
    margin-bottom: 5rem;
}


ul.dark-font {
    margin-top: 1.25rem;
    margin-left: 6.25rem;
}

.dark-font li a {
    font-weight: 600;
    padding: 0 0.9375rem;
    font-family: 'Dosis';
    text-decoration: none;
    text-transform: uppercase;
    height: 0.75rem;
    font-size: 1rem;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.05rem;
    text-align: left;
    color: #666666;
}

a.client-name-dark {
    line-height: 2.1;
    text-transform: uppercase;
    letter-spacing: 0.9375rem;
    font-size: 1.875rem;
    margin-bottom: 1.875rem;
    color: $color-text-dark;
}

/* BLOG PAGE 
==============================================================
*/ 

.blog-grid {
    border-bottom: 0.0625rem $color-text-dark solid;
    width: 49.9375rem;
    display: block;
    margin: auto;
    height: 2.5rem;
}

.word-blog,
.share,
.share-icons {
    margin: auto;
    display: inline;
    height: 0.9375rem;
    font-size: 0.9375rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #666666;
}

.word-blog {
    text-align: left;
}

.share {
    text-align: right;
    margin-right: 0 !important;
}

.pad-right {
    margin-right: 0 !important;
    margin-top: 0 !important;

}

.share-icons {
    margin: 0 auto;
    text-align: right;

}

.blogs1,
.blogs2 {
    width: 23.125rem;
}  

.blogs2 {
    margin-top: 3.125rem;
}

.secondary {
    margin-bottom: 9.375rem;
}

.collections {
    display: block;
    margin: auto;
    margin-top: 4.375rem;
}

.blog-article-title {
    @include title;
    text-align: left;
}

.blog-image {
    height: 14.0625rem;
}

.read-more {
    width: 4.1875rem;
    height: 0.6875rem;
    font-size: 0.9375rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #706259;
}


// ==============
// Shop page

.main-shop-content {
    height: 100.625rem;
    padding-top: 70px;    

}

.clothing-image {
    width: 300px;
    height: 300px;
} 

.shop1 {
    text-align: left;
    font-size: 25px
}

.shop-title {
    @include title;
    font-size: 25px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1.25rem;
    letter-spacing: 1px;
}

.shop-price {
    @include description;
    text-align: left;
}

.shop-description {
    @include description;
    text-align: left;
    margin: 1.875rem 0;
}

.fa-shopping-cart {
    font-size: 0.875rem;
}


// Prouct images change on hover
.maxi-dress:hover {
    content: url(../images/0131265647443_001_e.jpg);
    transition: .8s ease-out;
}

.dungaree:hover {
    content: url(../images/0180621400087_020_d.jpg);
    transition: .8s ease-out;
}

.lilac-jacket:hover {
    content: url(../images/0115090559984_055_e.jpg);
    transition: .8s ease-out;
}

.high-waisted-jeans:hover {
    content: url(../images/2003128-15-1.jpg);
    transition: .8s ease-out;
}

.lnr-heart {
    float: right;
    display: inline;
    width: 1.3125rem;
    height: 1.125rem;
    font-size: 1.25rem;
    color: #999999;
}


.color2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
}