.nav-home {
    margin-top: 20px;
    margin-bottom: 160px;
    text-align: center;
    font-weight: normal;
}

.top-section {
    width: 100%;
    height: 53px;
    background-color: #2d2827;
    color: #ffffff;
    display: block;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    text-transform: uppercase;
    top:0;
}

.options {
    display: inline;
    margin-right: 50px
}

.logo {
    font-size: 30px;
    margin-top: 500px
}

.top-left {
    padding: 16px 0;
}

.top-right {
    padding: 16px 0;
    text-align: center;
}

.socials {
    margin-right: 20px
}


.header {
    width: 100%;
    height: 650px;    
    background-image: url(../images/adults-black-and-white-casual-1374542.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.search {
    margin-right: 150px;
    width: 50px;
    height: 23px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
}



.cart {
    margin-left: 150px;
    width: 21px;
    height: 18px;
    font-size: 15px;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
}

.heading {
    font-family: 'Source Sans Pro', sans-serif;
    height: 38px;
    font-size: 50px;
    font-weight: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.title {
    @include title
}

.topbtn {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #a88d7b;
    color: white;
    text-transform: uppercase;
    display: block;
    margin: auto;
    border: none;
}

.down-arrow {
    height: 16px;
    font-family: 'Source Sans Pro';
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    animation: move 1s ease infinite;
}

@keyframes move {
    0% {margin-top: 90px;}
    50% {margin-top: 110px;}
    100% {margin-top: 90px;}
}

.content {
    height: 600px;
    padding-top: 5px;
    background-color: rgb(240, 233, 233);
}

.main-head {
    @include main-headings
}

.line {
    @include underline
}

.products {
    display: block;
    margin: auto;
    width: 800px;
    height: 200px;
    margin-top: 70px;
    padding-bottom: 60px;
}

.new-products {
    display: block;
    margin: auto;
    width: 800px;
    height: 250px;
    margin-top: 70px;
    padding-bottom: 60px;
}

.content3 {
    height: 350px;
    background-color: #666666;
}

.left-text {
    text-align: center;
    padding-top: 80px;
    padding-left: 50px
}

.denim-looks {
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.denim {
    width: 656px;
    height: 38px;
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
    margin-right: 0;
    width: auto
}

.view-more {
    width: 150px;
    height: 40px;
    background-color: #a88d7b;
    display: block;
    margin: auto;
    border: none;
} 

.blog-article {
    display: block;
    margin: auto;
    width: 900px;
    height: 300px;
    margin-top: 70px;
    margin-bottom: 60px;
}

.insta-pics {
    height: 30px;
}



/* ABOUT PAGE 
======================================================================= */ 
.top-section2 {
    width: 100%;
    height: 53px;
    background-color: #eeeeee;
    color: #999999;
    display: block;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    text-transform: uppercase;
    top:0;
}

.nav-default {
    background-color: #ffffff;
    height: 70px;
    margin-bottom: 160px;
    text-align: center;
    font-weight: normal;
    color: black;
}

.header2 {
    width: 100%;
    height: 445px;    
    background-color: #666666;
}

.heading2 {
    font-family: 'Source Sans Pro', sans-serif;
    height: 38px;
    font-size: 50px;
    font-weight: normal;
    line-height: 0.96;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.title2 {
    margin-bottom: 70px;
    text-align: center;
    height: 39px;
    font-family: 'Source Sans Pro';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #e6e6e6;
}

.who-we-are {
    display: block;
    margin: auto;
    width: 900px;
    height: 300px;
    margin-top: 70px;
    margin-bottom: 200px;
}

.main-head2 {
    margin-top: 0 !important;
    @include main-headings
}

.details {
    text-align: left !important; 
    color: #666666 !important;
    @include title;
}

.team {
    display: block;
    margin: auto;
    width: 800px;
    height: 200px;
    margin-top: 120px;
    margin-bottom: 200px;
}

.what-we-do {
    display: block;
    margin: auto;
    width: 900px;
    height: 300px;
    margin-top: 70px;
    margin-bottom: 200px;
}